<%- include("partials/header.ejs") %>


    <div class="container">
        <h1>PlanPilot</h1>

        <form action="/new" method="post" id="newTaskForm">
            <!-- text of todo       button to add it -->
            <input class="newTaskInput" name="userInput" type="text" 
            placeholder= "<%if(locals.errorMsg){%> <%= errorMsg %> <% }else{ %> Enter new task here... <% } %>"  required autofocus autocomplete="off">

            <button class="newTaskButton" type="submit">Add Task</button>
        </form>

        <div class="task">
            <!-- for each task display div: -->
            <%for(var i=0;i<todolist.length;i++){ %>

                <div class="taskItems">
                    <p id="title<%= todolist[i].id %>">
                        <%= todolist[i].title %>
                    </p>


                    <!-- when clicked on edit then fnc should run to remove buttons for edit& delete & show button for tick& input & hide pre-existin g text title -->
                    <form action="/tick" method="post" id="tickForm">

                        <input type="hidden" name="idTask" value="<%= todolist[i].id %>">

                        <input type="text" class="newTaskInput editTextInput" name="updatedText"
                            value="<%= todolist[i].title %>" id="editInput<%= todolist[i].id %>" hidden="true" autofocus
                            autocomplete="off">

                        <!-- initially tick button will be hidden...active when clciked on edit -->
                        <button type="submit" class="doneButton" name="doneBtn" value="<%= todolist[i].id %>"
                            id="tick<%= todolist[i].id %>" hidden>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" stroke="black"
                                stroke-width="1" class="bi bi-check-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path
                                    d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05" />
                            </svg>
                        </button>


                    </form>
                    <div class="taskItemsIcons">
                        <form action="/edit" method="post" id="editForm">
                            <button type="submit" class="editButton" name="editBtn" value="<%= todolist[i].id %>"
                                onclick="editfnc('<%= todolist[i].id %>')" id="edit<%= todolist[i].id %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke="black"
                                    stroke-width="0.7" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path
                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
                                </svg>
                            </button>
                        </form>

                        <form action="/delete" method="post" id="deleteForm">
                            <button type="submit" class="deleteButton" name="deleteBtn" value="<%= todolist[i].id %>"
                                id="delete<%= todolist[i].id %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" stroke="black"
                                    stroke-width="0.5" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path
                                        d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                </svg>
                            </button>
                        </form>

                    </div>

                </div>


                <%} %>
        </div>
    </div>

    <script>
        function editfnc(id) {
            //hide preexisiting title
            // document.getElementById("title" + id).setAttribute("hidden", true);
            document.getElementById("title" + id).style.display = "none";

            //hide edit icon
            document.getElementById("edit" + id).style.display = "none";

            //hide delete icon
            document.getElementById("delete" + id).style.display = "none";

            //show tick icon
            document.getElementById("tick" + id).removeAttribute("hidden");

            //show input to edit text
            document.getElementById("editInput" + id).removeAttribute("hidden");
        }
    </script>

    <%- include("partials/footer.ejs") %>